
.section-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px + 75px;
        p{
        font-size: 10px *2;
        font-weight: bold;
        }        
}
.stylevideo{
    text-align: center;
}
